:root {
  --background-color: #212529;
  --title-color: #0f366f;
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --button-background-color: #83a6db;

  /* Form variables */
  --form-background-color: var(--background-color);
  --form-box-shadow: var(--box-shadow);
  --form-submit-background-color: var(--button-background-color);

  /* --input-border-color: #454d52; */
  --input-border-color: #353738;
  --input-color: #e8e6e3;
  --input-background-color: #25292b;
  --input-box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  --input-label-color: #8f9396;

  --box-shadow-border-color: #4a4f52;
  --white-text: #e8e6e3;

  /* Navbar variables */
  --navbar-background-color: var(--input-background-color);
  --navbar-text-color: var(--input-color);
  --navbar-border-color: var(--input-border-color);
  --navbar-active-background-color: var(--title-color);

  /* Table variables */
  --table-color: var(--input-color);
  --table-background-color: var(--input-background-color);
  --table-border-color: var(--input-border-color);
  --table-header-bg-color: #212529;
  --table-odd-row-bg-color: #2c3034;
  --table-even-row-bg-color: #212529;
  --table-hover-bg-color: #2b2e30;
  --table-identifier-link-color: #5c84ad;

  /* Dropdown variables */
  --dropdown-background-color: #0b739e;

  --split-divider-color: #706e6e;
}
