/* START: FLOW COMPONENT */
/* Flow Container - The stage */
/* Container must handle overflow and cursor */
.floxy-flow-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: grab;
  background-image: radial-gradient(#c1c1c4 1.4px, transparent 1.4px);
  background-size: 24px 24px;

  &:active {
    cursor: grabbing;
  }

  .flow-toolbar {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
  }

  /* Canvas transforms for pan/zoom */
  .flow-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;

    /* Nodes - absolute positioning required */
    .flow-node {
      position: absolute;
      display: flex;
      z-index: 1;
      cursor: grab;
      width: 100%;
      height: 100%;

      /* --bs-focus-ring-width: 0.125rem; */

      &:active {
        cursor: grabbing;
      }

      &.selected {
        z-index: 10;
        outline: 0;

        /* Hard coded focus right as it needs to be persisted */
        box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0)
          var(--bs-focus-ring-width) var(--bs-focus-ring-color);

        .node-close {
          display: block;
        }
      }

      .node-close {
        right: 5px;
        position: absolute;
        font-size: 0.75rem;
        display: none;
        border: var(--bs-border-width) var(--bs-border-style) #212529 !important;
        z-index: 10;        
      }

      .node-label {
        z-index: 2;
        padding: 6px;
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        position: absolute;

        &:focus-visible {
          outline: none;
        }
      }

      /* Ports - functional layout */
      .flow-ports-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0;
        position: relative;
        z-index: 2;
        overflow: visible;        

        &.flow-ports-output {
          left: -2px;
          margin-left: auto;

          .flow-port {
            background: var(--bs-tertiary-color);
          }
        }

        &.flow-ports-input {
          left: 2px;
          margin-right: auto;
        }

        .flow-port {
          width: 10px;
          height: 10px;
          background: var(--bs-body-bg);
          border-radius: 50%;
          margin: 8px 0;
          z-index: 2;
          cursor: crosshair;
          position: relative;
          border: var(--bs-border-width) solid var(--bs-border-color);
        }

        .flow-port:hover {
          transform: scale(2);
          --bs-focus-ring-width: 1px;
          box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0)
            var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
        }
      }

      .node-shape {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        vector-effect: non-scaling-stroke;
      }


      .resize-handle {
        position: absolute;
        width: 5px;
        height: 5px;
        right: -5px;
        bottom: -5px;
        background: var(--bs-primary);
        cursor: se-resize;
        z-index: 20;
      }
    }    
  }

  /* SVG layer for connections */
  .flow-connections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 0;
    pointer-events: none;

    /* Connection paths */
    .flow-connection-path {
      fill: none;
      stroke: var(--bs-secondary);
      stroke-width: 2px;
      stroke-linecap: round;
      pointer-events: stroke;
      transition: stroke 0.2s;

      &:hover, &.path-hover {
        stroke: var(--bs-primary);
        stroke-width: 3px;
        cursor: pointer;
      }

      &.selected, &.flow-connection-temp {
        stroke: var(--bs-primary);
        stroke-width: 3px;
        cursor: pointer;
      }
      &.flow-connection-path-bad {
        stroke: var(--bs-danger);
        stroke-width: 3px;
        cursor: pointer;
      }      
    }
  }
}

.flow-connection-path.animated {
  stroke-dasharray: 6, 4;
  animation: flow 1s linear infinite;
}

@keyframes flow {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -20;
  }
}
/* END: FLOW COMPONENT */
