body {
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: 0.9rem;
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(120%);
  }
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--input-border-color) var(--input-background-color);
  /* scrollbar-gutter: auto; */
}

.disabled {
  pointer-events: none !important;
  /* opacity: 0.7 !important; */
  filter: brightness(60%);
}

.hide {
  opacity: 0;
}

.show {
  opacity: 100;
}

.hover-light:hover {
  filter: brightness(120%);
}

.dark-background {
  background-color: var(--input-background-color) !important;
}

.app-container {
  .card {
    border: var(--input-border-color) 1px solid !important;
    background-color: var(--background-color) !important;
    box-shadow: var(--form-box-shadow) !important;

    .card-header {
      background-color: var(--title-color) !important;
      color: var(--input-color) !important;
    }

    .nav.nav-tabs {
      border: var(--input-border-color) 1px solid !important;
    }

    .nav-link {
      color: var(--input-color) !important;
      border: none;

      &.active {
        background-color: var(--input-background-color) !important;
      }
    }
  }
}
