form,
.app-form {
  background-color: var(--form-background-color) !important;
  box-shadow: var(--form-box-shadow) !important;

  input,
  textarea,
  select,
  label.input-group-text {
    border-color: var(--input-border-color) !important;
    background-color: var(--input-background-color) !important;
    box-shadow: var(--input-box-shadow) !important;
    border-radius: 6px !important;
    transition: all 0.15s ease !important;
    color: var(--input-color) !important;
  }

  label {
    color: var(--input-label-color) !important;
  }

  label.input-group-text {
    width: var(--select-label-width) !important;
  }

  select {
    width: calc(100% - var(--select-label-width)) !important;
    max-width: 350px;
  }

  .group-header {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--white-text) !important;
    font-size: 14px;
  }

  input[type="submit"] {
    text-transform: capitalize;
    font-weight: bold;
    background-color: var(--form-submit-background-color) !important;
    font-size: 14px;
  }

  .help-text {
    color: grey !important;
    font-size: 0.75rem !important;
    margin-top: 0.25rem !important;
    font-style: italic !important;
  }

  input[type="checkbox"] {
    width: 17px !important;
    height: 17px !important;
    background-color: grey !important;
  }

  .object-label {
    font-weight: bold;
  }

  .group-item,
  .array-group-item {
    &:first-child {
      margin-top: 1rem !important;
    }
  }

  .app-array-group,
  .app-form-group {
    min-height: 30px !important;
    border-color: var(--input-border-color) !important;
    box-shadow: var(--input-box-shadow) !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .floating {
      position: relative;
      top: -15px;
      width: fit-content;
      background-color: var(--form-background-color) !important;
    }
  }

  .app-form-group {
    .app-form-group,
    .app-array-group {
      /* child rule style properties */
      border: 1px var(--box-shadow-border-color) solid !important;
    }
  }

  .collapsing {
    overflow-y: hidden !important;
  }

  .app-array-group .app-input-group,
  .app-form-group .app-input-group {
    max-height: 550px;
    overflow-y: auto;
    margin-top: -35px !important;

    .app-input-group {
      /* child rule style properties */
      max-height: none;
      overflow: visible;
    }
  }
  .app-form-group .app-input-group {
    margin-top: -30px !important;
  }
}
