.json-table {
  width: 100%;

  .table {
    --bs-table-bg: none;
    --bs-table-color: var(--table-color, #bbb9b9) !important;
    --bs-table-border-color: var(--table-border-color, #3e4044) !important;
  }

  .dt-info,
  .dt-length,
  .dt-search {
    color: var(--table-color, #bbb9b9) !important;
  }

  .dt-length {
    select {
      background-color: var(--input-background-color, #3e4044) !important;
      border-color: var(--input-border-color, #3e4044) !important;
      color: var(--input-color, #fff) !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .dt-search {
    label {
      display: none;
    }

    input {
      background-color: var(--input-background-color, #3e4044) !important;
      border-color: var(--input-border-color, #3e4044) !important;
      width: 250px !important;
      caret-color: #8f9396 !important;

      &:focus {
        outline: none !important;
        box-shadow: none !important;
        filter: brightness(110%);
      }

      &::placeholder {
        color: #8f9396 !important;
        /* Sets the placeholder text color to red */
        opacity: 1;
        /* Ensures full opacity, especially for Firefox */
      }
    }

    input:focus::placeholder {
      opacity: 0.5;
    }
  }

  table {
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    tbody tr:nth-child(odd) {
      background-color: var(--table-odd-row-bg-colo) !important;
    }

    tbody tr:nth-child(even) {
      background-color: var(--table-even-row-bg-color) !important;
    }

    tr td {
      color: var(--table-color, #bbb9b9) !important;

      &:first-child {
        max-width: 10px;
        padding-left: 6px;
      }
    }

    td:hover {
      .table-col-wrapper i {
        display: inline-block !important;
      }
    }

    th,
    td {
      .table-col-wrapper {
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      &:first-child .table-col-wrapper {
        padding: 10px auto;
      }
    }

    .json-nested-object {
      max-width: 300px;
      overflow: hidden;
    }

    .table-identifier-link {
      text-decoration: none;
      color: #5c84ad !important;

      &:hover {
        filter: brightness(120%);
      }
    }
  }

  .table-responsive {
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--background-color) var(--background-color);
    scrollbar-gutter: auto;
  }

  ul.pagination {
    button {
      color: black;

      &.page-link {
        color: var(--table-color, #bbb9b9);
        background-color: var(--table-background-color, #2c3034);
        border-color: var(--table-border-color, #3e4044);
      }

      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }

      &:hover {
        filter: brightness(120%);
      }
    }
  }
}

.json-table > div.dt-container .dt-paging .dt-paging-button {
  padding: 0 !important;
}

.dataTable {
  thead tr {
    background-color: var(--table-header-bg-color) !important;
  }

  tbody tr:nth-child(odd) {
    background-color: var(--table-odd-row-bg-color) !important;
  }

  .dt-column-order:first-child {
    display: none !important;
  }
}
